<!DOCTYPE html>
<html>

<head>
  <title>Date ideas</title>
</head>

<body>
  <h1>Date ideas</h1>

  {% if session.username %}
  <p>
    Logged in as {{ session.username }}, your id number is {{ session.user_id }}
  </p>
  <p>
    <a href="/new_item">Plan a date</a>
  </p>
  <p>
    <a href="/logout">Log out</a>
  </p>
  {% else %}
  <p>
    <a href="/login">Log in</a>
  </p>
  <p>
    <a href="/register">Create an account</a>
  </p>
  {% endif %}

  <p>
    <a href="/find_item">Search for ideas</a>
  </p>

    <h2>All ideas</h2>
    <ul>
      {% for item in items %}
      <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
</body>

</html>
