<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>Date ideas</h1>

  {% if session.user_id %}
  <p>
    Logged in as <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
  </p>
  {% endif %}

  <p>
    <a href="/">Front page</a> |
    <a href="/find_item">Search</a> |
  {% if session.user_id %}
    <a href="/new_item">Plan a date</a> |
    <a href="/logout">Log out</a>
  {% else %}
    <a href="/register">Register</a> |
    <a href="/login">Log in</a>
  {% endif %}
  </p>

  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}

  {% block content %}{% endblock %}
</body>

</html>
